extends extends/layout.pug 

block main

	main.navigation

		section.block.package-equipment
			.block__banner
				a.block__btn(href='#') УПАКОВОЧНОЕ ОБОРУДОВАНИЕ
			//- .block__banner-back
			//- 	ul
			.block__description
				p.block__text  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Приставка они, свой решила он. Не свой эта предупредила напоивший, предупреждал, но несколько выйти инициал большого океана бросил если мир.

		section.block.package-materials
			.block__banner
				a.block__btn(href='#') УПАКОВОЧНЫЕ МАТЕРИАЛЫ
			.block__description
				p.block__text  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Вопроса что, осталось скатился собрал снова ты ее букв несколько реторический силуэт, путь до, заманивший текстов жизни переулка снова пояс.

		section.block.automatic-equipment
			.block__banner
				a.block__btn(href='#') АВТОМАТИЧЕСКОЕ ОБОРУДОВАНИЕ
			.block__description
				p.block__text  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Все своих которой, на берегу безорфографичный составитель рекламных ручеек? Снова ручеек до но образ семантика там решила прямо. Приставка, строчка взгляд!

		section.block.technological-equipment
			.block__banner
				a.block__btn(href='#') ТЕХНОЛОГИЧЕСКОЕ ОБОРУДОВАНИЕ
			.block__description
				p.block__text  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Курсивных рукопись строчка, продолжил там текст коварных возвращайся, которое скатился вопроса дорогу грустный! Подпоясал текстов коварный маленький которой силуэт необходимыми.

		section.block.maintenance
			.block__banner
				a.block__btn(href='#') ТЕХНИЧЕСКОЕ ОБСЛУЖИВАНИЕ
			.block__description
				p.block__text  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Напоивший маленький инициал имени он заголовок подзаголовок повстречался языком встретил составитель, океана запятых точках снова грустный пояс которой, однажды текстами!


