extends extends/layout.pug 

block main

	main.navigation(id="index" data-title="МЕРПАСА")

		section.block.package-equipment(id="package-equipment" data-title="Упаковочное оборудование")
			.block__banner
				.block__box
					.front
					.side
						ul.block__info
							li.block__info-item
								a(href="#") ГОРИЗОНТАЛЬНОЕ
							li.block__info-item
								a(href="#") ВЕРТИКАЛЬНОЕ
							li.block__info-item
								a(href="#") ТРЕЙСИЛЕРЫ
							li.block__info-item
								a(href="#") ТЕРМОУСАДОЧНОЕ
							li.block__info-item
								a(href="#") ТЕРМОФОРМОВОЧНОЕ
							li.block__info-item
								a(href="#") ПАЛЛЕТОУПАКОВЩИКИ
							li.block__info-item
								a(href="#") ВАКУУМНОЕ
							li.block__info-item
								a(href="#") УПАКОВКА НА ПОДЛОЖКУ
							li.block__info-item
								a(href="#") УПАКОВКА ДЛИННОМЕРНЫХ ИЗДЕЛИЙ
							li.block__info-item
								a(href="#") КЛИПСАТОРЫ
							li.block__info-item
								a(href="#") ОБВЯЗЧИКИ МЯГКИМИ ЛЕНТАМИ
							li.block__info-item
								a(href="#") ФОРМОВЩИКИ КОРОБОВ
							li.block__info-item
								a(href="#") ЗАКЛЕЙЩИКИ КОРОБОВ СКОТЧЕМ
							li.block__info-item
								a(href="#") ВЕСОВОЕ
				button.block__btn УПАКОВОЧНОЕ ОБОРУДОВАНИЕ
			.block__description
				p.block__text  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Приставка они, свой решила он. Не свой эта предупредила напоивший, предупреждал, но несколько выйти инициал большого океана бросил если мир.

		section.block.package-materials(id="package-materials" data-title="Упаковочные материалы")
			.block__banner
				.block__box
					.front
					.side
						ul.block__info
							li.block__info-item
								a(href="#") ТЕРМОУСАДОЧНАЯ ПЛЕНКА ПВХ
							li.block__info-item
								a(href="#") ПРОПИЛЕНОВАЯ ПЛЕНКА С ПЕЧАТЬЮ
							li.block__info-item
								a(href="#") ПАЛЛЕТНАЯ СТРЕТЧ-ПЛЕНКА
							li.block__info-item
								a(href="#") КЛИПС-ЛЕНТА И ТВИСТ-ЛЕНТА
							li.block__info-item
								a(href="#") ПАКЕТЫ ДЛЯ ХЛЕБА С ПЕЧАТЬЮ
							li.block__info-item
								a(href="#") МАТЕРИАЛЫ ДЛЯ ВАКУУМНОЙ УПАКОВКИ
							li.block__info-item
								a(href="#") ПИЩЕВАЯ СТРЕТЧ-ПЛЕНКА
							li.block__info-item
								a(href="#") БАРЬЕРНАЯ ПЛЕНКА
							li.block__info-item
								a(href="#") КАРТОННАЯ УПАКОВКА
							li.block__info-item
								a(href="#") ФЛЕКСОПЕЧАТЬ
				button.block__btn УПАКОВОЧНЫЕ МАТЕРИАЛЫ
			.block__description
				p.block__text  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Вопроса что, осталось скатился собрал снова ты ее букв несколько реторический силуэт, путь до, заманивший текстов жизни переулка снова пояс.

		section.block.automatic-equipment(id="automatic-equipment" data-title="Автоматическое оборудование")
			.block__banner
				.block__box
					.front
					.side
						ul.block__info
							li.block__info-item
								a(href="#") ГРУППОВАЯ УПАКОВКА В ТЕРМОУСАДОЧНУЮ ПЛЕНКУ
							li.block__info-item
								a(href="#") УКЛАДКА И ГРУППОВАЯ УПАКОВКА В КАРТОННЫЕ КОРОБА
							li.block__info-item
								a(href="#") УПАКОВКА ПАЛЛЕТ СТЯГИВАЮЩИМИ СТРЕППИНГ-ЛЕНТАМИ
							li.block__info-item
								a(href="#") УПАКОВКА ПАЛЛЕТ В СТРЕЙЧ-ПЛЕНКУ
							li.block__info-item
								a(href="#") АВТОМАТИЧЕСКИЕ ПАЛЛЕТАЙЗЕРЫ
							li.block__info-item
								a(href="#") АВТОМАТИЧЕСКИЕ ДЕПАЛЛЕТАЙЗЕРЫ
							li.block__info-item
								a(href="#") УПАКОВКА ПАЛЛЕТ В ТЕРМОУСАДОЧНУЮ ПЛЕНКУ (ШРИНК-ХУД)
				button.block__btn АВТОМАТИЧЕСКОЕ ОБОРУДОВАНИЕ
			.block__description
				p.block__text  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Все своих которой, на берегу безорфографичный составитель рекламных ручеек? Снова ручеек до но образ семантика там решила прямо. Приставка, строчка взгляд!

		section.block.technological-equipment(id="technological-equipment" data-title="Технологическое оборудование")
			.block__banner
				.block__box
					.front
					.side
						ul.block__info
							li.block__info-item
								a(href="#") ДЛЯ НАРЕЗКИ ХЛЕБА
							li.block__info-item
								a(href="#") ДЛЯ НАРЕЗКИ РЫБЫ
							li.block__info-item
								a(href="#") ДЛЯ ИЗГОТОВЛЕНИЯ ПОЛУФАБРИКАТОВ
							li.block__info-item
								a(href="#") ДЛЯ УБОЯ ПТИЦЫ
							li.block__info-item
								a(href="#") ДЛЯ ПЕРЕРАБОТКИ ПТИЦЫ
				button.block__btn ТЕХНОЛОГИЧЕСКОЕ ОБОРУДОВАНИЕ
			.block__description
				p.block__text  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Курсивных рукопись строчка, продолжил там текст коварных возвращайся, которое скатился вопроса дорогу грустный! Подпоясал текстов коварный маленький которой силуэт необходимыми.

		section.block.maintenance(id="maintenance" data-title="Техническое обслуживание")
			.block__banner
				.block__box
					.front
					.side
				button.block__btn ТЕХНИЧЕСКОЕ ОБСЛУЖИВАНИЕ
			.block__description
				p.block__text  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Напоивший маленький инициал имени он заголовок подзаголовок повстречался языком встретил составитель, океана запятых точках снова грустный пояс которой, однажды текстами!


