doctype html
html(lang='ru')
	head
		meta(charset='UTF-8')
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title МЕРПАСА
		link(rel='stylesheet', href='../css/style.css')
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&amp;subset=cyrillic-ext')
		
	body
			
		main

			block main

		footer.page-footer
			.page-footer__inner
				.tel
					a.page-footer__tel(href='tel:+7 (812) 325 26 72') (812) 325 26 72
				a.page-footer__logo(href='index.html') 
					img.logo__icon(src='../img/logo.png', alt='') 
				.mail
					a.page-footer__mail(href='mailto:info@merpasa.ru') INFO@MERPASA.RU


		script(src='../js/script.min.js')